@media screen and (max-width: 576px)  {
    .navbar, 
    .nav-links,
    .team {
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }

    .fact-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        gap: 24px;
    }

    .sponsor-company{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 50px;
    }
}



@media screen and (min-width: 577px) and (max-width:992px) {
    .team{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }

    .fact-container{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 50px;
        
    }

    .sponsor-company{
        grid-template-columns: repeat(3,1fr);
        gap: 50px;
        justify-items: center;
        
    }
}